@import url('@/styles/full-size-component.scss');
.full-width {
  width: 100%;
}
mat-card-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.align-right {
  text-align: right;
}
mat-card-actions {
  gap: 8px;
}

mat-form-field {
  width: auto;
}