@if(historyData()) {
	@if(historyData()?.avatar) {
		<img [src]="historyData()!.avatar" class="avatar" alt="">
	}

  @if(score()) {
    <div class="score">  
      <mat-progress-spinner
        color="primary"
        mode="determinate"
        [value]="score()!.answered / score()!.total * 100">
      </mat-progress-spinner>
      <h1 class="mat-h1">{{score()!.answered / score()!.total | percent: '2.0-0'}}</h1>
    </div>
  <h1 class="mat-headline-1 text-center">{{score()!.answered}} / {{score()!.total}}</h1>
  }

	@if(historyData()?.description) {
		<p class="mat-body-1">{{historyData()?.description}}</p>
	}
	<mat-accordion>
    @for (activity of resultActivities(); track activity) {
      <mat-expansion-panel [expanded]="$index === 0">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ activity.title }}</mat-panel-title>
        </mat-expansion-panel-header>
        @defer (on viewport; on timer(5s)) {
          <ng-template
            *ngComponentOutlet="activity.component; inputs: activity.inputs" />
        } @placeholder {
        <h1 class="mat-display-1">Loading...</h1>
        }
      </mat-expansion-panel>
    }
    </mat-accordion>
}

