<form #formDirective="ngForm" [formGroup]="formGroup()" (ngSubmit)="submit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Add Questions</mat-card-title>
      <mat-card-subtitle>Add new question for this folder</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input
          matInput
          formControlName="description"
          placeholder="desciption of question"
          [formatInput]="formGroup().get('description')!" />
        @if (formGroup().get('description')!.hasError('required')) {
          <mat-error>Description field is required</mat-error>
        }
      </mat-form-field>
      <mat-form-field>
        <mat-label>Answer</mat-label>
        <input
          matInput
          formControlName="answer"
          placeholder="Answer of question"
          [formatInput]="formGroup().get('answer')!" />
        @if (formGroup().get('answer')!.hasError('required')) {
          <mat-error>Answer field is required</mat-error>
        }
      </mat-form-field>
      <h3 class="mat-h3">Question variants:</h3>
      <mat-radio-group id="variants">
        @for (item of formArray().value; track item) {
          <mat-radio-button [value]="item">
            {{ item }}
            <button mat-icon-button type="button" [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </mat-radio-button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item type="button" (click)="removeVariant($index)">
              <mat-icon>delete</mat-icon>
              <span>Remove</span>
            </button>
          </mat-menu>
        } @empty {
          <p><i>no variants</i></p>
        }
      </mat-radio-group>
      <div class="add-variant">
        <mat-form-field>
          <mat-label>New Variant</mat-label>
          <input
            matInput
            placeholder="write new variant value"
            [formControl]="variant()"
            [formatInput]="variant()" />
          @if (variant().hasError('required')) {
            <mat-error>Write new variant value for add it</mat-error>
          }
        </mat-form-field>
        <button
          matTooltip="Add new variant value"
          mat-mini-fab
          color="primary"
          [matTooltipPosition]="materialConfig.tooltip.position"
          [matTooltipShowDelay]="materialConfig.tooltip.showDelay"
          [matTooltipHideDelay]="materialConfig.tooltip.hideDelay"
          [disabled]="variant().invalid"
          (click)="addVariant()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <mat-list
        matTooltip="Required tasks for adding new question"
        [matTooltipPosition]="materialConfig.tooltip.position"
        [matTooltipShowDelay]="materialConfig.tooltip.showDelay"
        [matTooltipHideDelay]="materialConfig.tooltip.hideDelay">
        @for (task of requiredTasks(); track task.title) {
          @if (task.formControl().hasError('required')) {
            <p>
              <i>{{ task.title }}</i>
            </p>
          } @else {
            <s
              ><p>
                <i>{{ task.title }}</i>
              </p>
            </s>
          }
        }
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button
        matTooltip="Clear new question form"
        mat-raised-button
        color="accent"
        type="reset"
        [matTooltipPosition]="materialConfig.tooltip.position"
        [matTooltipShowDelay]="materialConfig.tooltip.showDelay"
        [matTooltipHideDelay]="materialConfig.tooltip.hideDelay"
        (click)="reset()">
        Reset
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-nav-list align="end">
    <button
      matTooltip="Add question to ''Question List''"
      mat-raised-button
      type="submit"
      color="primary"
      [matTooltipPosition]="materialConfig.tooltip.position"
      [matTooltipShowDelay]="materialConfig.tooltip.showDelay"
      [matTooltipHideDelay]="materialConfig.tooltip.hideDelay"
      [disabled]="formGroup().invalid">
      {{ sumitTitle() }}
    </button>
    <button
      matTooltip="Close ''add questions'' popup"
      mat-raised-button
      type="button"
      color="warn"
      [matTooltipPosition]="materialConfig.tooltip.position"
      [matTooltipShowDelay]="materialConfig.tooltip.showDelay"
      [matTooltipHideDelay]="materialConfig.tooltip.hideDelay"
      (click)="close($event)">
      Close
    </button>
  </mat-nav-list>
</form>

<!-- referense elements -->
