<mat-card>
  <mat-card-header>
    <mat-card-title>Add Theme</mat-card-title>
    <mat-card-subtitle>Add new writing them for this folder</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Theme</mat-label>
      <input
        matInput
        placeholder="new writing theme"
        [formControl]="formControl()"
        [formatInput]="formControl()!" />
      @if (formControl().hasError('required')) {
        <mat-error>Theme field is required</mat-error>
      }
    </mat-form-field>

    <mat-list
      matTooltip="Required tasks for adding new question"
      [matTooltipPosition]="materialConfig.tooltip.position"
      [matTooltipShowDelay]="materialConfig.tooltip.showDelay"
      [matTooltipHideDelay]="materialConfig.tooltip.hideDelay">
      @if (formControl().hasError('required')) {
        <p><i>* Fill theme field</i></p>
      } @else {
        <s
          ><p><i>* Fill theme field</i></p></s
        >
      }
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button
      matTooltip="Clear new question form"
      mat-raised-button
      color="accent"
      type="reset"
      [matTooltipPosition]="materialConfig.tooltip.position"
      [matTooltipShowDelay]="materialConfig.tooltip.showDelay"
      [matTooltipHideDelay]="materialConfig.tooltip.hideDelay"
      (click)="reset()">
      Reset
    </button>
  </mat-card-actions>
</mat-card>

<mat-nav-list align="end">
  <button
    mat-raised-button
    type="submit"
    color="primary"
    matTooltip="Add question to ''Question List''"
    [matTooltipPosition]="materialConfig.tooltip.position"
    [matTooltipShowDelay]="materialConfig.tooltip.showDelay"
    [matTooltipHideDelay]="materialConfig.tooltip.hideDelay"
    [disabled]="formControl().invalid"
    (click)="submit()">
    {{ sumitTitle() }}
  </button>
  <button
    matTooltip="Close ''add questions'' popup"
    mat-raised-button
    type="button"
    color="warn"
    [matTooltipPosition]="materialConfig.tooltip.position"
    [matTooltipShowDelay]="materialConfig.tooltip.showDelay"
    [matTooltipHideDelay]="materialConfig.tooltip.hideDelay"
    (click)="close($event)">
    Close
  </button>
</mat-nav-list>
