/* You can add global styles to this file, and also import other style files */
:root {
  --prime-color: #005b96;
  --info-color: #0090e0;
  --success-color: #34c240;
  --warning-color: #fa9f47;
  --danger-color: #d64242;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

textarea {
  text-align: justify;
}

mat-form-field {
  width: 100%;
}
mat-radio-button {
  display: block;
}